.jumbotron {
  background-color: #00b8e6;
  color: white;
}



body {
  font-family: 'Roboto', sans-serif;
}

/* Projects */

.project {
  margin-bottom: 30px;
}

.project h3{
  margin-top: 4px;
}

.project img {
  margin: 0px auto;
  margin-bottom: 15px;
}

/* Glyph Icons */

.column-title {
  text-align: center;
}

.glyphicon {
  font-size: 3em;
  color: #003d99;
}

/* Hobbies */

.img-hobbies {
  margin-bottom: 20px;
  max-width: 250px;
}

.col-box {
  border:1px solid #cccccc;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
}

.col-box h2, .col-box h3 {
  margin-top: 0px;
  color: #003d99;
  margin-bottom: 20px;
}

.col-box .glyphicon {
  margin-bottom: 5px;
}


@media only screen and (min-width: 600px){
  .img-hobbies {
    margin-right: 20px;
    float: left;
  }
}

@media only screen and (max-width: 600px){
  .img-hobbies {
    margin: 0px auto;
    margin-bottom: 20px;
  }
}
